<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Data Science Academy - www.datascience.one </title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
  <h4>
  This application was developed by {{ name }} as part of free online python training conducted by Data Science Academy, Trivandrum. 
</h4>
 <div class="login">
	<h1>Sentiment Analyser</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Text data" placeholder="textdata" required="required" />
           <button type="submit" class="btn btn-primary btn-block btn-large">Sentiment Analyzer</button>
    </form>

   <br>
   <br>
   {{ input_text }}
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
